
  <div class="container-fluid mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-1">
            <div class="text-muted text-center mt-2 mb-4"><h3>Add Contact</h3></div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form [formGroup]="contactForm" role="form">
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-file-image"></i></span>
                  </div>
                  <input #filename (click)="browseFile()" formControlName="filename" class="form-control cursor" [placeholder]="fileInputPlaceholder">
                  <input (change)="setContactFile()" #fileInput style="display: none;" type="file">
                </div>
              </div>
              <div class="text-center">
                <button [routerLink]="['/dashboard', 'contact']" type="button" class="btn btn-primary mt-4">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
