<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header d-flex border-0 justify-content-between">
          <h3 class="mb-0">Your Todo list</h3>
          <button [routerLink]="['/dashboard', 'add-todo']" class="btn btn-primary">
            Add Todo
          </button>
        </div>
        <div class="table-responsive" *ngIf="todoList$ | async; let todoList">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">status</th>
                <th scope="col">description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let todo of todoList">
                <th  scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <div class="form-check form-switch">
                        <input (change)="doneTodo(todo)" 
                        class="form-check-input" type="checkbox" 
                        [checked]="todo.status"
                        [disabled]="todo.status">
                        <label class="form-check-label">{{todo.status ? "Done": "On-going"}}</label>
                      </div>
                    </div>
                  </div>
                </th>
                <td>
                    <i class="bi bi-email"></i> {{todo.description}}
                </td>
                <td class="text-right">
                  <div placement="bottom-right">
                    <a (click)="deleteTodo(todo.id)" class="btn btn-sm text-light">
                      <i style="font-size: 25px;" class="bi bi-trash3"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link"  tabindex="-1">
                  <i class="ni ni-bold-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link">1</a>
              </li>
              <li class="page-item">
                <a class="page-link">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" >3</a></li>
              <li class="page-item">
                <a class="page-link" >
                  <i class="ni ni-bold-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
