<div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header d-flex border-0 justify-content-between">
            <h3 class="mb-0">Compose your message</h3>
            <button class="btn btn-primary">
              Send email
            </button>
          </div>
          <div class="card-body px-lg-4 py-lg-4">
            <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-send"></i></span>
                  </div>
                  <input class="form-control" placeholder="To" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="bi bi-person"></i></span>
                  </div>
                  <input class="form-control" placeholder="From" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div>
                    <span class="input-group-text"><i class="bi bi-pen"></i></span>
                  </div>
                  <textarea class="form-control" placeholder="Your message" cols="100" rows="10"></textarea>
                </div>
              </div>
            
          </div>
        <div class="card-footer py-2">
            <i style="font-size: 35px;" class="bi bi-paperclip cursor"></i>
            <input type="file">
        </div>
      </div>
    </div>
  </div>