
<div class="container mt--8 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="card bg-secondary shadow border-0">
          <div class="card-header bg-transparent pb-5">
            <div class="text-muted text-center mt-2 mb-4">Add Event</div>
          </div>
          <div class="card-body px-lg-5 py-lg-5">
            <form role="form">
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                  </div>
                  <input class="form-control" placeholder="event label" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                  </div>
                  <input mwlFlatpickr class="form-control datepicker flatpickr-input" [altInput]="true" [convertModelValue]="true" placeholder="Event start date" type="text">
                </div>
                <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="bi bi-clock"></i></span>
                    </div>
                    <input mwlFlatpickr class="form-control datepicker flatpickr-input" [altInput]="true" [convertModelValue]="true" placeholder="Event start at .." type="text">
                </div>
                <div class="input-group input-group-alternative mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                    </div>
                    <input mwlFlatpickr class="form-control datepicker flatpickr-input" [altInput]="true" [convertModelValue]="true" placeholder="Event end date" type="text">
                  </div>
                  <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="bi bi-clock"></i></span>
                      </div>
                      <input mwlFlatpickr class="form-control datepicker flatpickr-input" [altInput]="true" [convertModelValue]="true" placeholder="Event ends at .." type="text">
                  </div>
              </div>
             
              <div class="text-center">
                <button type="button" class="btn btn-primary mt-4">Save event</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>